<!DOCTYPE html>
<html>
    <head>
        <title>welcome page</title>
        <style type="text/css">
            a {
                border: 5px solid black;
                border-radius: 5px;
                font-size: 2em;
                font-weight: bold;
                padding: 10px 10px;
                margin: auto;
                text-decoration: none;
            }
            a:link {
                color: black;
            }
            a:visited {
                color: rgb(135, 135, 135)
            }
        </style>
    </head>
    <body>
        <h1> TAP </h1>
        <a href="http://localhost:8080/dataList">
            BUTTON
        </a>
    </body>
</html>